name: Android APK Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        # Бу ерда биз gradlew ўрнига тизимдаги gradle'дан фойдаланамиз
        run: gradle assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Savdo-App-APK
          path: app/build/outputs/apk/debug/*.apk
